@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;

  &__title {
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    mix-blend-mode: normal;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }

  &__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, .25);
    height: 100vh;
    text-align: center;
  }

  &__date {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;

    span {
      padding-top: 15px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 1.4px;
      margin-bottom: 30px;
      display: block;
    }
  }

  &__search {
    padding-top: 15px;
    padding-bottom: 35px;
  }

  &__location {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.05px;
    position: relative;
    padding-left: 19px;
    text-transform: capitalize;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 13px;
      background-image: url(../img/marker.svg);
      left: 0;
      top: 0;
    }
  }

  &__arrows {
    position: absolute;
    left: 210px;
    bottom: 30px;
    z-index: 3;

  }

  &__slider {
    &-item {
      height: 100vh;
      background-image: url(../img/header-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    }
  }
}

.menu {
  padding-top: 40px;

  a {
    color: #fff;
  }

  span {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    padding-top: 6px;
    margin-bottom: 22px;
    text-transform: capitalize;
  }

}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;

  &-subtitle {
    margin-bottom: 5px;
  }

  &-subtext {
    margin-bottom: 8px;
  }

  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
  }

  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
  }
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;

  &__left {
    right: 125px;
  }
}

.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;

  .slick-current {
    .dots-box {
      border-top: 4px solid $aqua;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  border-top: 4px solid #fff;
  padding-top: 6px;

  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 3s infinite 4.5s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  background-image: url(../img/big-marker.svg);
  background-position: right 195px;
  background-repeat: no-repeat;
  background-size: auto;

  &__subtitle {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
  }
}

.slick-current {
  .surf-box__inner-btn {
    display: block;
  }

  .surf-box__inner {
    background: rgba(#1C2121, .3);
  }
}

.surf-slider {
  padding-top: 110px;

  .slider-arrows {
    top: 50px;
    opacity: .25;
  }

  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }
}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    min-height: 750px;
    background: rgba(#1C2121, .85);
    position: relative;
    transition: all .5s;

    &:hover {
      background: rgba(#1C2121, .3);

      .surf-box__inner-btn {
        display: block;
      }
    }
  }

  &__inner-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding: 42px 0 0 40px;
    width: 140px;
  }

  &__inner-location {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    width: 0;
    height: 0;
    white-space: nowrap;

    span {
      font-weight: 100;
    }
  }

  &__inner-btn {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
  }
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../img/world-map-dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  .slick-list {
    min-height: 635px;
  }

  .slick-current {
    .slider-dots__content {
      display: block;
      width: 285px;
      padding: 28px 31px 0px 32px;
    }
  }
}

.slider-dots {
  position: relative;
  text-align: left;

  &__circle {
    width: 24px;
    height: 24px;
    background-color: $aqua;
    border-radius: 50%;

  }

  &__content {
    display: none;
    background: rgba(#000, 0.3);
    border-radius: 6px;
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 20px solid $aqua;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      bottom: -21px;
      left: 50%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &__content-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-color: $aqua;
      width: 80px;
      height: 1px;
      bottom: 0;
      left: 0;

    }
  }

  &__content-subtitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }

  &__content-link {
    padding-top: 4px;
  }

  &__content-item {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      margin-bottom: 7px;
    }
  }

  &__content-number {
    font-weight: 800;
    line-height: 23px;
  }

  &__content-name {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}

.slider-dots--1 {
  top: 335px;
  left: 0;

  .slider-dots__content {
    transform: translateX(0);

    &::before {
      left: 0;
    }
  }
}

.slider-dots--2 {
  top: 285px;
  left: -10%;

  .slider-dots__content {
    transform: translateX(-30%);

    &::before {
      left: 30%;
    }
  }

  .slider-dots__circle {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/mini-marker.png);
      width: 14px;
      height: 17px;
      background-size: cover;
      right: -22px;
      top: -14px;
    }
  }
}

.slider-dots--3 {
  top: 320px;
  left: 20%;
}

.slider-dots--4 {
  top: 500px;
  left: -23%;
}

.slider-dots--5 {
  top: 230px;
  left: -45%;
}

.slider-dots--6 {
  top: 550px;
  left: -75%;
}

.slider-dots--7 {
  top: 390px;
  left: -65%;
}

.slider-dots--8 {
  top: 500px;
  left: 25%;

  .slider-dots__content {
    transform: translateX(-70%);

    &::before {
      left: 70%;
    }
  }
}


.holder {
  background-image: url(../img/travel-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;

  &.sleep {
    background-image: url(../img/frangipani.png);
  }

  .slider-arrows {
    top: 235px;
    opacity: .5;
  }
}

.holder-slider {
  &__head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }

  &__descr {
    margin-top: -230px;
    padding: 160px 0 0 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    .descr__head {
      position: relative;
      padding-right: 78px;

      &.descr__head-sleep {
        padding-right: 215px;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
      }

      .holder__star-list {
        position: absolute;
        top: 0;
        right: 0;

        img {
          position: static;
        }
      }
    }

  }

  &__subtitle {
    text-align: right;
    padding: 132px 80px 0 0;
  }

  &__btn {
    text-align: center;
  }

  &__info {
    display: flex;
    justify-content: space-around;

    &-subtitle {
      position: absolute;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      letter-spacing: 8px;
      white-space: nowrap;
      opacity: 0.5;
      transform: rotate(-90deg);
      top: 97px;
      left: -97px;
      width: 200px;
      height: 0;
      text-align: right;
    }

    &-title {
      font-weight: 800;
      font-size: 40px;
      line-height: 36px;
      padding-left: 40px;
      position: relative;

      .holder-pricing__span {
        position: absolute;
        bottom: -28px;
        right: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 36px;
        text-align: right;
        letter-spacing: 5.25px;
        opacity: 0.5;
      }
    }

    &-item {
      min-height: 200px;
      margin-bottom: 66px;
      position: relative;
    }
  }
}

.shop {
  background-image: url(../img/shop-bg.png);
  background-position: right center;
  background-repeat: no-repeat;

  .slider-arrows{
    opacity: .5;
  }

  &__slider {
    padding-left: 132px;

    &-info {
      max-width: 480px;
      margin-right: 40px;
      width: 100%;
      padding-top: 150px;
    }

    &-content {
      padding-left: 170px;
      display: flex;
      align-items: flex-end;
    }

    &-inner {
      display: flex;
    }

    &-price {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 64px;

      sup {
        font-size: 18px;
        padding-left: 2px;
      }
    }
  }

  &__extras {
    padding-left: 150px;

    &-inner {
      display: flex;
    }

    &-box {
      text-align: center;
      margin-right: 57px;
    }

    &-img {
      min-height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;
    }

    &-name {
      font-size: 18px;
      line-height: 22px;
      opacity: .5;
      letter-spacing: 8px;
      margin-bottom: 16px;
    }

    &-price {
      font-weight: 800;
      font-size: 18px;
      line-height: 40px;
    }

    &-title {
      font-weight: 800;
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 25px;
    }
  }

  &__star-list {
    margin-left: -9px;
  }
}

.descr {
  &__head {
    &-shop {
      max-width: 350px;
      margin-bottom: 47px;
    }
  }
}

.surfboard__position--1{
  right: 40px;
  top: 215px;
}
.surfboard__position--2{
  left: -6px;
  top: 310px;
}
.surfboard__position--3{
  left: 52px;
  bottom: 70px;
  .surfboard-box__content{
    padding-left: 0;
    padding-right: 104px;
    top: -15px;
    left: -400px;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: #fff;
      right: 0;
      left: auto;
      top: 50%;
    }
  }
}
.surfboard {
  position: relative;
  &-box {
    position: absolute;
    &__content {
      display: none;
      position: absolute;
      width: 359px;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      padding-left: 104px;
      top: -15px;
      left: 40px;

      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
      }
    }

    &__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: relative;
      background-color: #fff;
      cursor: pointer;

      &.active {
        .circle-row {
          transform: translate(-50%, -50%) rotate(0);
        }
      }
    }
  }
}

.circle-row {
  background-color: $aqua;
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);

  &+.circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.surfboard-box__circle.active+.surfboard-box__content {
  display: block;
}

.footer{
  text-align: center;
  padding: 285px 0 0 34px;
  .btn{
    span{
      padding: 17px 17px 15px 17px;
      &::after{
        display: none;
      }
    }
  }
  &__copy{
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    opacity: 0.5;
    margin-top: 27px;
  }
}















@import "media";
